lab5/tarifs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tariffs">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="tariff">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="operator" type="xs:string" />
              <xs:element name="payroll" type="xs:unsignedShort" />
              <xs:element name="callPrices">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="inside" type="xs:unsignedByte" />
                    <xs:element name="outside" type="xs:decimal" />
                    <xs:element name="stac" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="smsPrice" type="xs:decimal" />
              <xs:element name="parameters">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="favorite" type="xs:unsignedByte" />
                    <xs:element name="rate" type="xs:unsignedByte" />
                    <xs:element name="connectionPayment" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>